.co {
    background-color: #DDE4E9;
    padding-bottom: 10px;
}
.bo {
    margin-right: 5px;
}
.go {
    padding-bottom: 20px;
 }
 .post-title {
     font-size: 23px;
     font-family: "Raleway",sans-serif;
     font-weight: 400;
 }
 @media (max-width:324px){
    .ngx-pagination {       
        margin-left: -30px !important; 
    }
}
 .metas {
     position: relative;
     display: inline-block;
     color: #ff627d;
     padding-right: 5px;
     font-size: 11px;
     text-transform: uppercase;
     line-height: 1;
     font-weight: 500;
     letter-spacing: 1px;
 }
 .cont {
     padding: 15px 0px; 
 }
 
.ngx-pagination .current {    
    background: #673ab7 !important;    
}
.btn-primary {
    background-color: #673ab7;
    border-color: #5d34a5;
}
.btn-primary:hover {
    background-color: #532e94;
    border-color: #472880;
}
.btn-primary:disabled {
    background-color: #673ab7;
    border-color: #5d34a5;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #673ab7;
    border-color: #5d34a5;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(141,78,252,.5);
}
.btn-primary.focus, .btn-primary:active {
    box-shadow: 0 0 0 0.2rem rgba(141,78,252,.5);
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(141,78,252,.5);
}